# Google Cloud credentials
backend/serviceAccountKey.json

# Environment variables
.env
serviceAccountKey.json
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/
dist/
build/
# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/
